.button-open {
  @include btn;
  align-self: end;
  background-color: transparent;
  border: none;

  @include mq-desktop {
    display: none;
  }

  &:hover .button-open__image {
    fill: $base-color;
  }

  &:active .button-open__image {
    fill: rgba($base-color, 0.3);
  }
}

.button-open__image {
  fill: $light-color;
}
