.button-close {
  @include btn;
  display: none;
  background-color: transparent;
  border: none;

  @include mq-desktop {
    display: none;
  }

  &:hover .button-close__image {
    fill: $base-color;
  }

  &:active .button-close__image {
    fill: rgba($base-color, 0.3);
  }
}
