.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card--base .card__link {
  position: relative;
  height: 137px;
  overflow: hidden;

  @include mq-tablet {
    height: 509px;
  }

  @include mq-desktop {
    height: 506px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(0);
    content: "Панорама дня";
    display: block;
    width: 140px;
    background-color: $base-color;
    font-size: 12px;
    font-weight: 700;
    color: $light-color;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px;
    box-sizing: border-box;

    @include mq-tablet {
      top: 57px;
      transform: translateX(170px);
    }

    @include mq-desktop {
      top: 54px;
      transform: translateX(330px);
    }
  }
}

.card__img {
  @include img;
  width: 100%;
}

.card__blockquote {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 17px 10px 19px 17px;
  background-color: $bg-color-primary;
  box-sizing: border-box;

  @include mq-tablet {
    padding: 23px 30px 23px;
  }

  @include mq-desktop {
    padding-bottom: 22px;
    padding-left: 28px;
  }
}

.card--base .card__blockquote {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @include mq-tablet {
    width: 620px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include mq-desktop {
    width: 940px;
    padding-bottom: 0;
  }
}

.card__cite {
  font-weight: 700;
  font-style: normal;
}

.card__date {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.card__comment {
  margin-top: 0;
  margin-bottom: 12px;
  width: 100%;

  @include mq-tablet {
    min-height: 48px;
  }
}

.card--base .card__comment {
  @include mq-tablet {
    order: 4;
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.card__like {
  margin-top: auto;
}

.card--base .card__like {
  @include mq-tablet {
    order: 3;
    margin-left: auto;
  }
}

.card--base .like__button {
  @include mq-tablet {
    margin-left: 16px;
    margin-right: 0;
  }
}
