.catalog__lead {
  margin-bottom: 20px;
}

.catalog__list {
  display: grid;
  row-gap: 20px;
  padding: 0;
  list-style-type: none;

  @include mq-tablet {
    grid-template-columns: repeat(2, 300px);
    column-gap: 20px;
  }

  @include mq-desktop {
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
  }
}
