.comments {
  padding: 41px 0 40px;
  text-align: center;

  @include mq-tablet {
    padding: 109px 0 15px;
  }

  @include mq-desktop {
    padding: 193px 0 45px;
    background-image: url("../img/comments.svg");
    background-repeat: no-repeat;
    background-position: center top 72px;
  }
}

.comments__wrap {
  position: relative;
  overflow: hidden;
}

.comments__list {
  @include list;
  width: 300%;
  display: flex;
}

.comments__item {
  width: 100%;
}

.comments__content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @include mq-desktop {
    width: 688px;
    margin-left: auto;
    margin-right: auto;
  }
}

.comments__author {
  display: inline-block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $dark-color;

  @include mq-tablet {
    font-size: 20px;
    margin-bottom: 17px;
  }

  @include mq-desktop {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.comments__info {
  margin-top: 0;
  margin-bottom: 49px;
  display: none;
  line-height: 30px;

  @include mq-tablet {
    display: block;
  }

  @include mq-desktop {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.comments__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;

  @include mq-tablet {
    order: -1;
    margin-bottom: 51px;
    font-size: 18px;
  }
}

.comments__profession {
  margin-left: 5px;
}

.comments__buttons {
  display: none;

  @include mq-desktop {
    position: absolute;
    top: 35px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.comments__pagination {
  margin-top: 31px;

  @include mq-tablet {
    margin-top: 0;
  }

  @include mq-desktop {
    display: none;
  }
}
