.effects {
  display: none;

  @include mq-tablet {
    display: block;
  }

  @include mq-desktop {
    background-color: $bg-color-primary;
  }
}

.effects__content {
  padding: 102px 0 30px 310px;
  background-image: url("../img/effects.svg");
  background-repeat: no-repeat;
  background-position: left bottom;

  @include mq-desktop {
    padding: 115px 35px 120px 370px;
    background-position: left top 17px;
    background-size: 298px auto;
  }
}

.effects__title {
  width: 170px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $dark-color;

  @include mq-desktop {
    width: 100%;
    margin-bottom: 37px;
    line-height: 30px;
  }
}

.effects__desc {
  margin-top: 0;
  margin-bottom: 24px;

  @include mq-desktop {
    width: 533px;
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effects__link {
  color: $base-color;

  @include mq-desktop {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover {
    color: $middle-color;
  }

  &:active {
    color: rgba($middle-color, 0.3);
  }
}
