.form {
  padding-bottom: 21px;

  @include mq-tablet {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  @include mq-desktop {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 433px 433px;
    column-gap: 74px;
    row-gap: 50px;
    padding-bottom: 0;
  }
}

.form__user {
  width: 280px;
  margin: 0 auto 41px;
  box-sizing: border-box;

  @include mq-tablet {
    width: 620px;
    margin-bottom: 51px;
  }

  @include mq-desktop {
    width: 100%;
    margin-bottom: 0;
    margin-top: 23px;
    grid-column: 1/2;
  }
}

.form__user-list {
  @include list;
  display: grid;
  height: 100%;
  row-gap: 19px;
  align-content: space-between;

  @include mq-tablet {
    row-gap: 53px;
  }
}

.form__user-item {
  @include mq-tablet {
    display: flex;
    align-items: center;
  }
}

.form__label-primary {
  display: block;
  max-width: 170px;
  margin-bottom: 5px;
  margin-left: 22px;
  line-height: 30px;
  color: $base-color;
  text-transform: uppercase;

  @include mq-tablet {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
  }

  &--contacts {
    @include mq-tablet {
      margin-right: 0;
      margin-top: 12px;
      margin-left: 17px;
    }
  }
}

.form__input {
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: $dark-color;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover {
    border-color: $middle-color;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border-color: $base-color;
  }
}

.form__input-wrap {
  position: relative;
  box-sizing: border-box;

  &::after {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    content: "";
    width: 59px;
    height: calc(100% - 4px);
    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;

    @include mq-tablet {
      display: block;
    }
  }
}

.form__input-wrap--theme-tel {
  &::after {
    background-image: url("../img/icons/form-tel.svg");
  }
}

.form__input-wrap--theme-mail {
  &::after {
    background-image: url("../img/icons/form-mail.svg");
  }
}

.form__advances-wrap {
  padding: 39px 0 42px;
  background-color: $bg-color-primary;

  @include mq-tablet {
    order: 4;
    padding: 0;
    background-color: $light-color;
  }

  @include mq-desktop {
    width: 100%;
    grid-column: 1/-1;
  }
}

.form__advances {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    order: 4;
    width: 620px;
    padding: 0 60px 50px;
    margin-bottom: 49px;
  }

  @include mq-desktop {
    width: 100%;
    margin: 0;
    padding: 0 57px 54px 57px;
  }
}

.form__legend {
  width: 225px;
  margin-bottom: 37px;
  text-align: center;
  line-height: 18px;
  color: $base-color;
  text-transform: uppercase;
  box-sizing: border-box;

  @include mq-tablet {
    width: auto;
    padding-left: 31px;
    padding-right: 31px;
    margin-bottom: 39px;
    line-height: 30px;
  }

  &--contacts {
    display: none;

    @include mq-tablet {
      display: inline;
      margin-bottom: 29px;
    }
  }

  &--emotions {
    margin-bottom: 16px;

    @include mq-tablet {
      padding-left: 38px;
      padding-right: 38px;
      margin-bottom: 32px;
    }

    @include mq-desktop {
      margin-bottom: 29px;
    }
  }
}

.form__advances-list {
  @include list;
  display: grid;
  row-gap: 43px;

  @include mq-desktop {
    grid-template-columns: 296px 272px 215px;
    column-gap: 20px;
  }
}

.form__advances-item {
  &--orderly {
    @include mq-desktop {
      order: 1;
    }
  }
}

.form__contacts {
  width: 280px;
  margin: 0 auto;
  padding: 32px 0 42px;

  @include mq-tablet {
    order: 3;
    width: 620px;
    padding: 0 60px 25px;
    margin-bottom: 53px;
  }

  @include mq-desktop {
    width: 100%;
    margin: 0;
    padding: 0 60px 13px;
    grid-column: 1/-1;
  }
}

.form__contacts-list {
  @include list;
  display: grid;
  row-gap: 18px;

  @include mq-tablet {
    row-gap: 29px;
  }

  @include mq-desktop {
    grid-template-columns: repeat(2, 371px);
    justify-content: space-between;
  }
}

.form__contacts-item {
  @include mq-tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form__apps-wrap {
  padding: 40px 0;
  background-color: $bg-color-primary;

  @include mq-tablet {
    order: 2;
    padding: 0;
    background-color: $light-color;
    margin-bottom: 52px;
  }

  @include mq-desktop {
    margin-bottom: 0;
    grid-column: 2/3;
  }
}

.form__apps {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    width: 620px;
  }

  @include mq-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.form__apps-list {
  @include list;
  display: grid;
  row-gap: 33px;

  @include mq-tablet {
    padding: 0 60px 54px;
  }

  @include mq-desktop {
    flex-grow: 1;
    align-content: space-between;
    padding-left: 71px;
  }
}

.form__emotions-wrap {
  padding: 38px 0 41px;

  @include mq-tablet {
    order: 5;
    padding: 0;
    margin-bottom: 65px;
  }

  @include mq-desktop {
    margin-bottom: 0;
    grid-column: 1/-1;
  }
}

.form__emotions {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    width: 620px;
    padding: 0 60px 45px;
  }

  @include mq-desktop {
    width: 100%;
    margin: 0;
    padding-bottom: 37px;
  }
}

.form__textarea {
  min-height: 201px;
  overflow: auto;
  resize: none;

  @include mq-tablet {
    min-height: 191px;
  }

  @include mq-desktop {
    min-height: 128px;
  }
}

.form__button-wrap {
  text-align: center;

  @include mq-tablet {
    order: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include mq-desktop {
    grid-column: 1/-1;
    margin-top: 14px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 33px;

  @include mq-tablet {
    width: 300px;
    margin-bottom: 0;
  }
}

.form__note {
  max-width: 280px;

  @include mq-desktop {
    max-width: 350px;
  }
}

.form__note-symbol {
  color: $base-color;
}

.form__note-text {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__note-hidden {
  display: none;

  @include mq-desktop {
    display: inline;
  }
}
