.form-post {
  display: flex;
  flex-direction: column;

  @include mq-tablet {
    width: 275px;
  }

  @include mq-desktop {
    width: 410px;
  }
}

.form-post__tools {
  width: 100%;
  margin-bottom: 38px;

  @include mq-tablet {
    display: flex;
    margin-bottom: 66px;
  }

  @include mq-desktop {
    margin-bottom: 145px;
  }
}

.form-post__tools-icons {
  display: flex;
  width: 205px;
  margin: 0 auto 23px;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;

  @include mq-tablet {
    margin-bottom: 0;
    flex-direction: column;
    width: 24px;
  }

  @include mq-desktop {
    width: 54px;
  }
}

.form-post__tools-icon {
  position: relative;

  @include mq-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
  }
}

.form-post__tools-icon::after {
  @include mq-tablet {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
    background-color: rgba($middle-color, 0.1);
  }
}

.form-post__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 44px;

  @include mq-tablet {
    width: 24px;
    height: 22px;
  }

  @include mq-desktop {
    width: 48px;
    height: 44px;
  }
}

.form-post__label-icon {
  fill: rgba($middle-color, 0.3);

  @include mq-tablet {
    fill: $base-color;
  }

  &--active {
    fill: $base-color;
  }

  &:hover {
    fill: rgba($middle-color, 0.5);
  }
}

.form-post__range-list {
  @include list;
  width: 320px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include mq-tablet {
    width: 100%;
  }
}

.form-post__range-item {
  position: relative;
  display: none;
  padding-bottom: 30px;
  box-sizing: border-box;

  @include mq-tablet {
    display: flex;
    align-items: center;
    padding-left: 29px;
    padding-bottom: 0;
    height: 72px;
  }

  @include mq-desktop {
    padding-left: 42px;
  }

  &--active {
    display: block;

    @include mq-tablet {
      display: flex;
    }
  }
}

.form-post__range-item::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 320px;
  height: 1px;
  content: "";
  background-color: rgba($middle-color, 0.1);

  @include mq-tablet {
    width: 100%;
  }
}

.form-post__range {
  width: 240px;
  box-sizing: border-box;

  @include mq-tablet {
    width: 202px;
  }

  @include mq-desktop {
    width: 288px;
  }
}

.form-post__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq-tablet {
    align-items: flex-start;
  }

  @include mq-desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form-post__submit {
  width: 280px;
  margin-bottom: 12px;

  @include mq-tablet {
    width: 260px;
    margin-bottom: 25px;
  }

  @include mq-desktop {
    width: 183px;
    margin-bottom: 0;
  }
}

.form-post__reset {
  width: 280px;

  @include mq-tablet {
    width: 260px;
  }

  @include mq-desktop {
    width: 183px;
    margin-left: auto;
  }
}
