.form-button {
  @include btn;
  display: block;
  min-width: 100px;
  max-width: 456px;
  padding: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-color;
  background-color: $form-btn-color;
  border: 2px solid $form-btn-color;
  border-radius: 1px;
  box-sizing: border-box;

  &:hover {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }

  &:active {
    color: rgba($light-color, 0.3);
  }

  &:disabled {
    cursor: not-allowed;
    color: $light-color;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }
}
