.form-post__tools {
  margin-bottom: 66px;
}

.form-post__tools-icons {
  margin-bottom: 40px;
}

.form-post__icons-list {
  display: flex;
  width: 194px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.form-post__label {
  display: block;
  width: 48px;
  height: 44px;
  outline: 1px solid #ffffff;
}

.form-post__range-list {
  @include list;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.form-post__range {
  width: 100%;
}

.form-post__submit {
  margin-bottom: 12px;
}
