.form {
  padding-bottom: 26px;

  @include mq-tablet {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  @include mq-desktop {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 433px 433px;
    column-gap: 74px;
    row-gap: 64px;
    padding-bottom: 0;
  }
}

.form__user {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 44px;
  box-sizing: border-box;

  @include mq-tablet {
    width: 620px;
    margin-bottom: 51px;
  }

  @include mq-desktop {
    width: 100%;
    margin-bottom: 0;
    margin-top: 13px;
    grid-column: 1/2;
  }
}

.form__user-list {
  @include list;
  display: grid;
  height: 100%;
  row-gap: 29px;
  align-content: space-between;
}

.form__user-item {
  @include mq-tablet {
    display: flex;
    align-items: center;
  }
}

.form__label-primary {
  display: block;
  margin-bottom: 17px;
  margin-left: 20px;
  line-height: 30px;
  color: $base-color;
  text-transform: uppercase;

  @include mq-tablet {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 20px;
  }

  &--contacts {
    @include mq-tablet {
      margin-right: 0;
      margin-top: 22px;
    }
  }
}

.form__input {
  width: 100%;
  padding: 23px 20px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-color;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover {
    border-color: $middle-color;
  }

  &:focus-visible {
    outline: none;
  }

  &:focus {
    border-color: $base-color;
  }
}

.form__input-wrap {
  position: relative;
  box-sizing: border-box;

  &::after {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    content: "";
    width: 59px;
    height: calc(100% - 4px);
    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
}

.form__input-wrap--theme-tel {
  &::after {
    background-image: url("../img/icons/form-tel.svg");
  }
}

.form__input-wrap--theme-mail {
  &::after {
    background-image: url("../img/icons/form-mail.svg");
  }
}

.form__advances-wrap {
  padding: 42px 0;
  background-color: $bg-color-primary;

  @include mq-tablet {
    order: 4;
    padding: 0;
    background-color: $light-color;
  }

  @include mq-desktop {
    width: 100%;
    grid-column: 1/-1;
  }
}

.form__advances {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    order: 4;
    width: 620px;
    padding: 0 60px 50px;
    margin-bottom: 65px;
  }

  @include mq-desktop {
    width: 100%;
    margin: 0;
    padding: 0 62px 57px;
  }
}

.form__legend {
  width: 225px;
  margin-bottom: 44px;
  text-align: center;
  line-height: 18px;
  color: $base-color;
  text-transform: uppercase;
  box-sizing: border-box;

  @include mq-tablet {
    width: auto;
    padding-left: 31px;
    padding-right: 31px;
    margin-bottom: 49px;
    line-height: 30px;
  }

  &--contacts {
    display: none;

    @include mq-tablet {
      display: inline;
    }
  }

  &--emotions {
    margin-bottom: 22px;

    @include mq-tablet {
      padding-left: 38px;
      padding-right: 38px;
      margin-bottom: 42px;
    }
  }
}

.form__advances-list {
  @include list;
  display: grid;
  row-gap: 47px;

  @include mq-desktop {
    grid-template-columns: repeat(3, 262px);
    justify-content: space-between;
  }
}

.form__advances-item {
  &--orderly {
    @include mq-desktop {
      order: 1;
    }
  }
}

.form__contacts {
  width: 280px;
  margin: 0 auto;
  padding: 42px 0 44px;

  @include mq-tablet {
    order: 3;
    width: 620px;
    padding: 0 60px 37px;
    margin-bottom: 65px;
  }

  @include mq-desktop {
    width: 100%;
    margin: 0;
    padding: 0 62px 23px;
    grid-column: 1/-1;
  }
}

.form__contacts-list {
  @include list;
  display: grid;
  row-gap: 29px;

  @include mq-tablet {
    row-gap: 41px;
  }

  @include mq-desktop {
    grid-template-columns: repeat(2, 371px);
    justify-content: space-between;
  }
}

.form__contacts-item {
  @include mq-tablet {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form__apps-wrap {
  padding: 42px 0;
  background-color: $bg-color-primary;

  @include mq-tablet {
    order: 2;
    padding: 0;
    background-color: $light-color;
    margin-bottom: 65px;
  }

  @include mq-desktop {
    margin-bottom: 0;
    grid-column: 2/3;
  }
}

.form__apps {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    width: 620px;
  }

  @include mq-desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.form__apps-list {
  @include list;
  display: grid;
  row-gap: 38px;

  @include mq-tablet {
    padding: 0 60px 50px;
  }

  @include mq-desktop {
    flex-grow: 1;
    align-content: space-between;
  }
}

.form__emotions-wrap {
  padding: 42px 0 52px;

  @include mq-tablet {
    order: 5;
    padding: 0;
    margin-bottom: 70px;
  }

  @include mq-desktop {
    margin-bottom: 0;
    grid-column: 1/-1;
  }
}

.form__emotions {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    width: 620px;
    padding: 0 60px 53px;
  }

  @include mq-desktop {
    width: 100%;
    margin: 0;
  }
}

.form__textarea {
  min-height: 197px;
  overflow: auto;
  resize: none;
}

.form__button-wrap {
  text-align: center;

  @include mq-tablet {
    order: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include mq-desktop {
    grid-column: 1/-1;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 46px;

  @include mq-tablet {
    width: 296px;
    margin-bottom: 0;
  }
}

.form__note-symbol {
  color: $base-color;
}

.form__note-text {
  line-height: 30px;
  text-transform: uppercase;
}
