.index-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $middle-color;
  text-align: center;

  @include mq-tablet {
    font-size: 40px;
    line-height: 48px;
  }

  @include mq-desktop {
    font-size: 50px;
    line-height: 68px;
  }

  &--theme-light {
    color: $light-color;
  }

  &--size-large {
    @include mq-tablet {
      line-height: 58px;
    }

    @include mq-desktop {
      line-height: 68px;
    }
  }
}
