.like {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $base-color;
  text-transform: uppercase;
}

.like__button {
  @include btn;
  display: flex;
  order: -1;
  margin-right: 18px;
  padding: 0;
  border: none;
  background-color: transparent;

  @include mq-tablet {
    order: 1;
    margin-left: auto;
    margin-right: 0;
  }

  &:hover .like__button-icon {
    fill: $middle-color;
  }

  &:active .like__button-icon {
    fill: rgba($middle-color, 0.3);
  }
}

.like__button-icon {
  fill: $base-color;
}

.like__text {
  margin-right: 3px;
}
