.logo {
  display: flex;
  align-items: end;

  &:hover .logo__img,
  &:hover .logo__img-header,
  &:hover .logo__text,
  &:hover .logo__text-stars {
    fill: $base-color;
  }

  &:active .logo__img,
  &:active .logo__img-header,
  &:active .logo__text,
  &:active .logo__text-stars {
    fill: rgba($light-color, 0.3);
  }
}

.logo__img {
  display: none;
  margin-right: 11px;
  fill: $light-color;

  &--tablet {
    @include mq-tablet {
      display: inline-block;
    }

    @include mq-desktop {
      display: none;
    }
  }
}

.logo--theme-color .logo__img {
  display: inline-block;
  fill: $base-color;
  margin-right: 7px;

  @include mq-desktop {
    display: none;
  }
}

.logo__img-header {
  fill: $light-color;
  margin-right: 10px;
  display: none;

  @include mq-desktop {
    display: inline-block;
  }
}

.logo__img-footer {
  fill: $base-color;
  margin-right: 10px;
  display: none;

  @include mq-desktop {
    display: inline-block;
  }
}

.logo__text {
  fill: $light-color;

  @include mq-desktop {
    display: none;
  }
}

.logo--theme-color .logo__text {
  fill: $middle-color;
}

.logo__text-stars {
  display: none;
  fill: $light-color;

  @include mq-desktop {
    display: inline-block;
  }
}

.logo--theme-color .logo__text-stars {
  fill: $middle-color;
}

.logo--theme-color:active .logo__text-stars,
.logo--theme-color:active .logo__text {
  fill: $middle-color;
  opacity: 0.3;
}

.logo--theme-color:active .logo__img,
.logo--theme-color:active .logo__img-footer {
  fill: $base-color;
  opacity: 0.3;
}
