.logo {
  display: flex;
  align-items: end;
}

.logo__img {
  display: none;
  margin-right: 11px;

  @include mq-tablet {
    display: inline-block;
  }
}

.logo--theme-color .logo__img {
  display: inline-block;
  fill: $base-color;
}

.logo--theme-color .logo__text {
  fill: $middle-color;
}
