.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;

  @include mq-tablet {
    flex-direction: row;
    padding: 36px 0;
  }

  @include mq-desktop {
    padding: 71px 0;
  }
}

.main-footer__logo {
  display: inline-block;
  margin-bottom: 31px;

  @include mq-tablet {
    margin-bottom: 0;
  }
}

.main-footer__development {
  display: flex;
  max-width: 200px;
  align-items: center;
  margin-top: 35px;
  line-height: 18px;

  @include mq-tablet {
    margin-top: 0;
  }

  @include mq-desktop {
    font-size: 18px;
  }
}

.main-footer__academy-link {
  margin-left: 13px;

  &:hover .main-footer__academy-logo {
    fill: $middle-color;
  }

  &:active .main-footer__academy-logo {
    fill: rgba($middle-color, 0.3);
  }
}

.main-footer__academy-logo {
  fill: $base-color;
}
