.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 21px 0;
  background-color: rgba($dark-color, 0.3);

  @include mq-tablet {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  &--active {
    background-color: $middle-color;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

    @include mq-desktop {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.main-header--active .main-header__button-open {
  display: none;
}

.main-header--active .main-header__button-close {
  display: block;

  @include mq-desktop {
    display: none;
  }
}

.main-header--active .main-header__menu {
  display: block;

  @include mq-desktop {
    display: flex;
  }
}

.main-header--active .main-menu__link {
  background-color: $middle-color;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @include mq-desktop {
    background-color: transparent;
    box-shadow: none;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
}

.main-header__navigation {
  margin-right: auto;

  @include mq-desktop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
  }
}
