.main-footer {
  padding: 40px 0;
  text-align: center;
}

.main-footer__logo {
  display: inline-block;
  margin-bottom: 39px;
}

.main-footer__development {
  display: inline-block;
  margin-top: 39px;
}
