.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  background-color: $light-color;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;
  transform: translate(-50%, -50%);
  text-align: center;

  @include mq-tablet {
    width: 460px;
    padding-top: 49px;
  }

  @include mq-desktop {
    width: 780px;
  }

  // Показать окно с ошибкой
  &--failure-active {
    display: block;
  }

  &--success {
    padding-bottom: 0;
  }

  // Показать окно отправки данных
  &--success-active {
    display: block;
  }
}

.modal__container {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    width: 350px;
  }
}

.modal__title {
  margin: 0 auto 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $dark-color;
  text-align: center;

  @include mq-tablet {
    width: 240px;
    font-size: 30px;
    line-height: 40px;
  }

  @include mq-desktop {
    width: 100%;
  }
}

.modal__description {
  margin: 0 auto 42px;

  @include mq-tablet {
    width: 320px;
    margin-bottom: 40px;
    font-size: 18px;
  }

  @include mq-desktop {
    width: 100%;
    margin-bottom: 68px;
  }
}

.modal--success .modal__description {
  margin-bottom: 41px;

  @include mq-tablet {
    margin-bottom: 35px;
  }

  @include mq-desktop {
    margin-bottom: 44px;
  }
}

.modal--success .modal__container {
  @include mq-tablet {
    width: 378px;
  }

  @include mq-desktop {
    width: 456px;
  }
}

.modal__button-wrap {
  padding-top: 48px;
  padding-bottom: 50px;
  background-color: $bg-color-primary;
  border-radius: 0 0 1px 1px;
}

.modal--failure .modal__button-wrap {
  padding-top: 0;
  background-color: $light-color;

  @include mq-desktop {
    padding-top: 52px;
    background-color: $bg-color-primary;
  }
}

.modal__button {
  width: 280px;
  margin: 0 auto;

  @include mq-tablet {
    width: 296px;
  }
}

.modal--success .modal__button {
  @include mq-desktop {
    width: 456px;
  }
}
