.post {
  padding-top: 43px;

  @include mq-tablet {
    padding-top: 66px;
  }

  @include mq-desktop {
    padding-top: 61px;
  }
}

.post__slogan {
  width: 280px;
  margin-top: 0;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  text-align: center;

  @include mq-tablet {
    width: 422px;
    font-size: 18px;
    margin-bottom: 69px;
  }

  @include mq-desktop {
    margin-bottom: 66px;
  }
}

.post__edit {
  padding: 20px 0 45px;
  background-color: $bg-color-primary;

  @include mq-tablet {
    padding: 41px 0 54px;
  }

  @include mq-desktop {
    padding-bottom: 57px;
  }
}

.post__container {
  box-sizing: border-box;
  text-align: center;

  @include mq-tablet {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq-desktop {
    width: 940px;
    padding-left: 80px;
    padding-right: 60px;
  }
}

.post__img {
  @include img;

  @include mq-tablet {
    width: 300px;
    margin-top: 16px;
  }
}

.post__form {
  margin-top: 36px;

  @include mq-tablet {
    margin-top: 0;
  }
}
