.promo {
  min-height: 462px;
  padding-top: 95px;
  background-image: url("../../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__slogan {
  text-align: center;
}
