.promo {
  padding-top: 95px;
  background-color: $bg-color-secondary;
  background-image: url("../img/promo.png"), url("../img/promo-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 187px, center;
  background-size: auto, cover;
}

.promo__slogan {
  text-align: center;
  margin-bottom: 320px;
}
