.slider-button {
  @include btn;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0;

  &:hover .slider-button__img {
    fill: rgba($middle-color, 0.6);
  }

  &:active .slider-button__img {
    fill: rgba($middle-color, 0.1);
  }
}

.slider-button__img {
  fill: rgba($middle-color, 0.3);
}
