.tariffs {
  padding: 100px 0 49px;
  background-color: $bg-color-primary;
  background-image: url("../../img/bg-tariffs.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 20px;
}

.tariffs__table-wrap {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.tariffs__table {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-260px);
}

.tariffs__pagination {
  margin-top: 45px;
}
