.tariffs {
  padding: 96px 0 42px;
  background-color: $bg-color-primary;
  background-image: url("../img/bg-tariffs.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 16px;

  @include mq-tablet {
    padding: 95px 0 70px;
    background-image: url("../img/bg-tariffs-tablet.svg");
    background-size: 100% 40px;
  }

  @include mq-desktop {
    padding: 159px 0 98px;
  }
}

.tariffs__table-wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  @include mq-tablet {
    width: 620px;
  }

  @include mq-desktop {
    width: 940px;
  }
}

.tariffs__table {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;


  @include mq-tablet {
    width: 100%;
    transform: translateX(0);
  }
}

.tariffs__pagination {
  margin-top: 42px;

  @include mq-tablet {
    display: none;
  }
}
