@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn {
  font-family: inherit;
  appearance: none;
  cursor: pointer;
}

@mixin link {
  text-decoration: none;
  text-align: center;
}
