$base-color: #d22856;
$light-color: #ffffff;
$middle-color: #283645;
$dark-color: #000000;
$bg-color-primary: #f2f2f2;
$bg-color-secondary: #1d2631;
$form-btn-color: #2aab6d;
$tablet-width: 768px;
$desktop-width: 1200px;
